/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
  color: white;
}
